.body{
    background-color: #313D5A;
    font-family: 'Manrope', sans-serif;
}

/* navbar */
.navbar{
    background-color: #313D5A;
}
.nav-link{
    font-size: 1.3rem;
    margin: 1.5rem;
    text-align: center;
}
.dropdown-menu{
    background-color: #313D5A;
}
.dropdown-item{
    color: white;
    font-size: 1.2rem;
}
.form-control{
    font-size: 1.2rem;
    text-align: center;
    margin: 1.5rem;
}
.btn{
    text-align: center;
    margin: 1.5rem;
    font-size: 1rem;
}
#masVerde{
    color: #198754;
    transition: all 0.3s;
}
#masVerde:hover{
    color: white;
    letter-spacing: 0.05rem;
    transition: all 0.3s;
}
#masEspacio{
    margin-left: 0.4rem;
}

/* footer */
.divFooter{
    display: flex;
    justify-content: end;
    align-items: center;
}
#flecha{
    font-size: 2rem;
    margin: 2rem 7rem;
    color: #198754;
}

/* main */
.mainH1{
    font-family: 'Rubik Puddles', cursive;
    font-size: 4rem;
    letter-spacing: 1rem;
    text-align: center;
    margin: 1rem 0 2.5rem 0;
    color: #73628A;
    font-weight: 700;
}

.mainH2{
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-align: center;
    margin: 1rem;
    color: #60935D;
    font-weight: 500;
}

/* sections */
.h3{
    color: #60935D;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 0;
    margin: 2rem;
}
.h4{
    color: #60935D;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    text-align: left;
    padding: 0rem;
    margin: 2rem;
}
.h42{
    color: #60935D;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    text-align: right;
    padding: 0rem;
    margin: 2rem;
}
.h43{
    color: #60935D;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 0rem;
    margin: 2rem;
}
.sectionNovedades{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.divSection{
    border: solid 1px #60935D;
}
.as{
    color: #198754;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    border: 1px solid #198754;
    width: 60%;
    transition: all 0.3s;
}
.as:hover{
    color: white;
    letter-spacing: 0.05rem;
    background-color: #198754;
    transition: all 0.3s;
}

/* form */
#puntoInput{
    margin: 1rem;
    padding: 0;
    width: 40%;
}
#puntoBtn{
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    border: 1px solid #198754;
    background-color: #313D5A;
}
#cuantasEstrellas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.divPregunta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divCheckbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}
.pCheckbox{
    font-size: 1.4rem;
    color: white;
    margin: 1rem;
}
.form-check{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form-check-input{
    font-size: 1.4rem;
    margin: 0;
    padding: 1rem;
    background-color: #313D5A;
}
.form-check-label{
    font-size: 1.4rem;
    margin: 0;
    padding: 1rem;
    color: white;
}
#divSiPuntaje{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* peliteca */
#divPeliteca{
    text-align: left;
    color:#198754;
    font-size: 1.5rem;
    margin: 2rem 12rem;
}
#botonesOrdenar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 0rem 12rem;
}
#listaPeliculaOrdenada{
    color: white;
}
#btnAlfabetico{
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    margin: 0.5rem;
    border: 1px solid #198754;
    width: 40%;
    background-color: #313D5A;
    transition: all 0.3s;
}
#btnAlfabetico:hover{
    color: white;
    background-color: #198754;
    transition: all 0.3s;
}
#divBtnAlfabetico{
    color: white;
    padding: 1rem 3rem;
}
#btnAño{
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    border: 1px solid #198754;
    margin: 0.5rem;
    width: 40%;
    background-color: #313D5A;
    transition: all 0.3s;
}
#btnAño:hover{
    color: white;
    background-color: #198754;
    transition: all 0.3s;
}
#btnDuracion{
    width: 40%;
    border-radius: 0.25rem;
    border: 1px solid #198754;
    margin: 0.5rem;
    padding: 0.375rem 0.75rem;
    background-color: #313D5A;
    transition: all 0.3s;
}
#btnDuracion:hover{
    color: white;
    background-color: #198754;
    transition: all 0.3s;
}

/* listas */
#divListaVistas{
    text-align: left;
    color: #4E8098;
    font-size: 1.5rem;
    margin: 4rem 12rem 4rem 6rem;
}
#divListaWatchlist{
    text-align: right;
    color: #4E8098;
    font-size: 1.5rem;
    margin: 4rem 12rem 4rem 6rem;
}
#divListaFavoritas{
    text-align: left;
    color: #4E8098;
    font-size: 1.5rem;
    margin: 4rem 12rem 4rem 6rem;
}
#divListaRecomendadas{
    text-align: right;
    color: #4E8098;
    font-size: 1.5rem;
    margin: 4rem 12rem 4rem 6rem;
}
.pItemPelicula{
    padding: 0;
    margin: 2.5rem 0 0 0;
}
#divListaNovedades{
    text-align: center;
    color: #4E8098;
    font-size: 1.5rem;
    margin: 2rem;
    border-radius: 0.25rem;
    border: 1px solid #198754;
    width: 60%;
    transition: all 0.3s;
}
#divListaNovedades:hover{
    color: white;
    letter-spacing: 0.05rem;
    background-color: #198754;
    transition: all 0.3s;
}
#h3Novedades{
    color: #198754;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 0;
    margin: 2rem;
}
.aPelicula{
    color: white;
    text-decoration: none;
}
.aPelicula:hover{
    letter-spacing: 0.1rem;
    text-decoration: underline;
    color: white;
}

/* info */
.divInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4E8098;
    margin: 0 20rem;
}
#h4Info{
    text-align: center;
    font-size: 2rem;
}
.divCadaPelicula{
    margin: 1rem;
}
.h5{
    color: #60935D;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 0rem;
    margin: 1rem 2rem;
}
.pInfo{
    font-size: 1.4rem;
    padding: 1rem 0;
    text-align: center;
}
.imgInfo{
    width: 25rem;
    height: auto;
    display: block;
    margin: auto;
    padding: 1rem;
}
.aInfo{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
}
.aInfo:hover{
    color:#4E8098;
}

/* buscar */
#divPeliculaBuscada{
    margin: 0 1.5rem;

}
.pPeliculas{
    font-size: 1.5rem;
    color: #4E8098;
    text-align: right;
    margin: 1rem;
}
#btnReset{
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    border: 1px solid #198754;
    text-align: right;
    margin: 1rem;
    background-color: #313D5A;
}
#divBtnReset{
    display: flex;
    justify-content: right;
    align-items: center;
}

